h2 a {
    color: black;
}

ul.errorlist {
    color: #880000;
    list-style-type: none;
    margin-left: 0;
}

input {
    width: 50%;
}

textarea {
    width: 50%;
}

td {
    vertical-align: top;
}