<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebGL Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WebGL jobs listing site">
    <meta name="author" content="Giles Thomas">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/styles/webgljobs.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">WebGL jobs</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% block home_tab_class %}{% endblock %}"><a href="/">Home</a></li>
              <li class="{% block add_tab_class %}{% endblock %}"><a href="{% url create_new_job %}">Post a new job</a></li>
              <li class="{% block about_tab_class %}{% endblock %}"><a href="/about">About</a></li>
              <li><a href="http://www.twitter.com/webgljobs">Twitter</a></li>
              <li><a href="mailto:webgljobs@gmail.com">Email</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        {% block body %}
        {% endblock %}

        <footer>
            <hr/>
            <p>
                Hosted by <a href="http://www.pythonanywhere.com/">PythonAnywhere</a>.
                Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
                Source code available <a href="https://github.com/gpjt/WebGL-Jobs">on GitHub</a>.
            </p>

            <p>
                WebGL and the WebGL logo are trademarks of <a href="http://www.khronos.org/">the Khronos Group Inc</a>.
            </p>
        </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery-1.7.2.min.js"></script>

    {% include "google_analytics.html" %}

  </body>
</html>
