<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Giles Thomas">
    <meta name="description" content="{{ JOB_TYPE_DESCRIPTION }} listing site">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/jobsboard.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="brand" href="/">{{ JOBS_BOARD_TITLE }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block add_tab_class %}{% endblock %}"><a class="nav-link" href="{% url 'create_new_job' %}">Post a new job</a></li>
                <li class="nav-item {% block about_tab_class %}{% endblock %}"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="http://www.twitter.com/{{ OWN_TWITTER_ACCOUNT_ID }}">Twitter</a></li>
                <li class="nav-item"><a class="nav-link" href="mailto:{{ EMAIL_SITE_ADDRESS }}">Email</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'feed' %}">RSS</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% block body %}
        {% endblock %}

        <footer>
            <hr/>
            <p>
                Hosted by <a href="http://www.pythonanywhere.com/">PythonAnywhere</a>.
                Built with <a href="https://getbootstrap.com/">Bootstrap</a>.
                Source code available <a href="https://github.com/gpjt/jobsboard">on GitHub</a>.
            </p>

            {% if FOOTER_TEXT %}
                <p>
                    {{ FOOTER_TEXT|safe }}
                </p>
            {% endif %}
        </footer>

    </div> <!-- /container -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    {% include "google_analytics.html" %}

  </body>
</html>
