{% extends "base.html" %}

{% block add_tab_class %}active{% endblock %}

{% block body %}

    <h2>Post a new job</h2>

    <p>
    All fields are optional apart from title, job type, description and
    contact email.  The description can be formatted using
    <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.

    <div class="row">

        <div class="span10 well">
            <form method="POST" action=".">

                {% csrf_token %}

                {{ form.as_table }}

                <br/>

                <button type="submit" class="btn btn-primary">Post job</button>

            <form>
        </div>

    </div>

{% endblock %}


