{% load markup %}

<h2><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></h2>

<div class="row">

    <div class="span8">

        {{ job.description|markdown }}

    </div>

    <div class="span3">
        Posted: {{ job.posted }}<br/>
        Type: {{ job.get_job_type_display }}<br/>
        Rate/Salary:  {{ job.salary }}<br/>
        Website: <a href="{{job.url }}">{{ job.url }}</a><br/>
        Location: {{ job.location }}<br/>
        Company: {{ job.company }}<br/>
        Experience: {{ job.experience }}<br/>
        Contact: <a href="mailto:{{ job.contact_email }}">{{ job.contact_email }}</a><br/>
    </div>

</div>