{% extends "base.html" %}

{% block title %}{{ JOBS_BOARD_TITLE }}{% endblock %}

{% block home_tab_class %}active{% endblock %}

{% block body %}

    {% include "banner.html" %}

    {% for job in jobs %}

        {% include "job_include.html" %}

        <hr/>

    {% endfor %}

    Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.

    <ul class="pager">
        {% if jobs.has_previous %}
            <li><a href="?page={{ jobs.previous_page_number }}">Newer jobs</a></li>
        {% endif %}
        {% if jobs.has_next %}
            <li><a href="?page={{ jobs.next_page_number }}">Older jobs</a></li>
        {% endif %}
    </ul>

{% endblock %}
