{% extends "base.html" %}

{% block home_tab_class %}active{% endblock %}

{% block body %}

    {% for job in jobs %}

        <br/>

        <div class="row">

            <div class="span4">
                Posted: {{ job.posted }}<br/>
                Type: {{ job.get_job_type_display }}<br/>
                Website: <a href="{{job.url }}">{{ job.url }}</a><br/>
                Location: {{ job.location }}<br/>
                Company: {{ job.company }}<br/>
                Experience: {{ job.experience }}<br/>
                Contact: {{ job.contact_email }}<br/>
            </div>

            <div class="span8">

                {{ job.description }}

            </div>

        </div>

    {% endfor %}

{% endblock %}
